.btnWrapper{
    background-color: #FE654F;
    color:white;
    height: 36px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
