<div class="wrapper">
    <div class="boxes" *ngIf="!currentTemple">
        <div class="box">
            <div class="logoWrapper">
                <img class="logo" src="../../../../assets/logo/feedback.png">
                <div>問卷範本 1</div>
            </div>
            <img class="edit" src="../../../../assets/logo/editPen.png" (click)="currentTemple = 'A'">
        </div>
        <div class="box">
            <div class="logoWrapper">
                <img class="logo" src="../../../../assets/logo/feedback.png">
                <div>問卷範本 2</div>
            </div>
            <img class="edit" src="../../../../assets/logo/editPen.png" (click)="currentTemple = 'B'">
        </div>
        <div class="box">
            <div class="logoWrapper">
                <img class="logo" src="../../../../assets/logo/feedback.png">
                <div>問卷範本 3</div>
            </div>
            <img class="edit" src="../../../../assets/logo/editPen.png" (click)="currentTemple = 'C'">
        </div>
    </div>
    <templateA *ngIf="currentTemple == 'A'"></templateA>
</div>


