<div class="wrapper">
    <div class="header">中央系統管理員
        <img class="logo" src="../../../../assets/logo/user.png">
        <img class="logo" src="../../../../assets/logo/logout.png">
    </div>
    <div class="agGridWrapper">
        <div class="left">
            <div class="button" (click)="onTemplatePage = false">
                <img class="icon" src="../../../../assets/logo/clipboard.png">
                 意見書
            </div>
            <div class="button" (click)="onTemplatePage = true">
                <img class="icon" src="../../../../assets/logo/edit.png">
                問卷系統
            </div>
        </div>
        <div class="right">
            <templatePage *ngIf="onTemplatePage"></templatePage>
        </div>
    </div>
</div>