<div class="wrapper">
    <div class="q"  *ngFor="let q of questions; index as i;">
           <img class="edit" src="../../../../assets/logo/editPen.png" (click)="currentQuestionIndex = i;">

            <div class="qTitle" *ngIf="currentQuestionIndex != i ">{{i + 1}}.{{q.title}}</div>
            <input type="text" pInputText style="width: 100%;" *ngIf="currentQuestionIndex === i " [(ngModel)]="q.title"/>
            <div class="valueTitles">
                <ng-container *ngIf="q.type == 'reaction'">
                    <div class="valueTitle" *ngFor="let r of reactions">
                        <div>{{r.title}}</div>
                    </div>
                </ng-container>
                <ng-container *ngIf="q.type == 'score'">
                    <div style="width: 140px;text-align: start;">
                        <div>非常不認同</div>
                    </div>
                    <div style="width: 140px;text-align: end;">
                        <div>非常認同</div>
                    </div>
                </ng-container>
            </div>

            <div class="rows" *ngFor="let c of q.child ; index as ci;">
                <div class=row>
                    <span *ngIf="currentQuestionIndex != i " class="cTitle">{{c.title}}</span>
                    <input type="text" pInputText style="width: 100%;" *ngIf="currentQuestionIndex === i " [(ngModel)]="c.title"/>

                    <div class="values">

                        <ng-container *ngIf="q.type == 'score'">
                            <p-rating [cancel]="false" [stars]="6" />
                        </ng-container>

                        <ng-container *ngIf="q.type == 'reaction'">
                            <div style=" display: flex">
                                <ng-container *ngFor="let r of reactions ;">
                                    <div style="width: 80px; display: flex;justify-content: center;align-items: center;">
                                        <p-checkbox  [binary]="true" inputId="r.value"/>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>

                    </div>
                </div>
            </div>
            <ng-container *ngIf="currentQuestionIndex === i ">
                <customButton (click)="editConfirm()" [background]="background"></customButton>
            </ng-container>
    </div>

</div>